<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyBites"
        tools:targetApi="31">
        <activity
            android:name=".DishInfo"
            android:exported="false" />
        <activity
            android:name=".ProfileForUsers"
            android:exported="false" />
        <activity
            android:name=".PlanInfo"
            android:exported="false" />
        <activity
            android:name=".ProfilePageForMess"
            android:exported="false" />
        <activity
            android:name=".MonthlyPlanEditor"
            android:exported="false" />
        <activity
            android:name=".HomeForMessOwner"
            android:exported="false" />
        <activity
            android:name=".MapToLocateMess"
            android:exported="false" />
        <activity
            android:name=".MessRegistration"
            android:exported="false" />
        <activity
            android:name=".MapActivityToChooseLocation"
            android:exported="false" />
        <activity
            android:name=".UserRegistration"
            android:exported="false" />
        <activity
            android:name=".MessInfo"
            android:exported="false" />
        <activity
            android:name=".MessOnwnerLoginPage"
            android:exported="false" />
        <activity
            android:name=".UserLoginPage"
            android:exported="false" />
        <activity
            android:name=".LanguageChooser"
            android:exported="false" />
        <activity
            android:name=".ChooseMessOrUser"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdN3tLI8SnMhgnmcrMtqPJ1BAKlw0c5U0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_LxkUt3iZwlubEx" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
    </application>

</manifest>